<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <h1>Tic Tac Toe</h1>

    <%= yield %>
  </body>
</html>
