<!DOCTYPE html>
<html>
  <head>
    <title>ActioncableReact</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  	<h1>ActionCable React</h1>

    <%= yield %>
  </body>
</html>
